body{
    background-color:white;
    color: black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align:left;
    background-image:‪\my-Third-repo;
}
.highlight{
    color:orange;
    font-family:sans-serif;
}

section{
    display: flex;
}

#half{
    width: 1000px;
    height: 20px;


    padding: 50px ;
    padding-top: 100px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px  10px ;
    color: white;
}